<div class="container">
  <h2 class="app-name">Speech App</h2>
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#main" (click)="setTab('mySpeech')">My Speech</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#add" (click)="setTab('newSpeech')">Write New Speech</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#list" (click)="setTab('allSpeech')">Show All Speech</a>
    </li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div *ngIf="activeTab === 'mySpeech'" id="main" class="container tab-pane active"><br>
      <app-my-speech></app-my-speech>
    </div>
    <div *ngIf="activeTab === 'newSpeech'" id="add" class="container tab-pane fade"><br>
      <app-speech-form></app-speech-form>
    </div>
    <div *ngIf="activeTab === 'allSpeech'" id="list" class="container tab-pane fade"><br>
      <app-all-speech-list></app-all-speech-list>
    </div>
  </div>
  <!-- footer -->
  <div class="fixed-bottom"></div>
</div>
<router-outlet></router-outlet>
